/* actual page content start  */
.nav_actual_page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actual_page {
  width: 70%;
}

.actual_page {
  display: flex;
  padding: 30px 0 10px 0;
}

.actual_page a {
  font-size: 15px;
  color: var(--grey-text);
}
.actual_page a:hover {
  color: var(--red-text);
}
.actual_page div {
  font-size: 15px;
  color: var(--red-text);
}

.contact_page_head_text {
  display: flex;
  width: 70%;
  font-weight: bold;
  font-size: calc(var(--index) * 1.6);
}
@media (max-width: 576px) {
  .contact_page_head_text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1199px) {
  .contact_page_head_text {
    font-size: 2rem;
  }
}
/* actual page content end  */

.antrenamente_gallery {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 30px;
  /* box-shadow: 5px 20px 60px 10px Gray; */
}

.antrenamente_gallery_adress {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.antrenamente_gallery_adress > div {
  width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 720px) {
  .antrenamente_gallery_adress > div {
    width: 170px;
  }
}
@media (max-width: 400px) {
  .antrenamente_gallery_adress > div {
    width: 120px;
  }
}
.antrenamente_gallery_adress > div > img {
  width: 100px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
}
.antrenamente_gallery_adress > div > img:hover {
  border: 1px solid red;
  scale: 1.15;
}

.antrenamente_gallery_adress > div > div {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.antrenamente_gallery_big_img {
  width: 90%;
  max-width: 900px;
  height: 90%;
  max-height: 900px;
  display: block;
}
