/* actual page content start  */
.nav_actual_page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actual_page {
  width: 70%;
}

.actual_page {
  display: flex;
  padding: 30px 0 10px 0;
}

.actual_page a {
  font-size: 15px;
  color: var(--grey-text);
}
.actual_page a:hover {
  color: var(--red-text);
}
.actual_page div {
  font-size: 15px;
  color: var(--red-text);
}

.contact_page_head_text {
  display: flex;
  width: 70%;
  font-weight: bold;
  font-size: calc(var(--index) * 1.6);
}
@media (max-width: 576px) {
  .contact_page_head_text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1199px) {
  .contact_page_head_text {
    font-size: 2rem;
  }
}
/* actual page content end  */

.orar_antrenamente_grup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: gray;
}

.orar_antrenamente_grup_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.orar_antrenamente_grup_container img {
  width: 90%;
  height: auto;
  max-height: 1000px;
  /* width: calc(var(--index) * 27);
  height: calc(var(--index) * 27); */
}
