.contact_page_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.actual_page {
  display: flex;
  padding: 30px 0 10px 0;
}

.actual_page a {
  font-size: 15px;
  color: var(--grey-text);
}
.actual_page a:hover {
  color: var(--red-text);
}
.actual_page div {
  font-size: 15px;
  color: var(--red-text);
}

.contace_page_head_text div {
  font-weight: bold;
  font-size: 30px;
}

/* .contacte_page_address_map iframe {
  width: calc(var(--index) * 25);
  max-height: 300px;
} */
