.contact_page_container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* info head start  */

.contact_page_gyms {
  min-height: 100%;
}

.contact_bottom_info div {
  font-family: "Bebas Neue", sans-serif;
  color: var(--red-text);
  font-size: 2.5rem;
}

.contact_page_address_map iframe {
  min-width: 330px;
  width: calc(var(--index) * 27);
  min-height: 280px;
  height: calc(var(--index) * 14);
}
/* info head end  */
