.contact_page_container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav_actual_page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actual_page {
  min-width: 330px;
  width: calc(var(--index) * 27);
}

.contact_page_gyms {
  min-height: 100%;
}

/* info head start  */

.actual_page {
  display: flex;
  padding: 30px 0 10px 0;
}

.actual_page a {
  font-size: 15px;
  color: var(--grey-text);
}
.actual_page a:hover {
  color: var(--red-text);
}
.actual_page div {
  font-size: 15px;
  color: var(--red-text);
}

.contact_page_head_text {
  font-weight: bold;
  font-size: 2rem;
}

/* info head end  */

.contact_bottom_info div {
  font-family: "Bebas Neue", sans-serif;
  color: var(--red-text);
  font-size: 2.5rem;
}

.contact_page_address_map iframe {
  min-width: 330px;
  width: calc(var(--index) * 27);
  min-height: 280px;
  height: calc(var(--index) * 14);
}
