.header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header_container {
  min-width: 100%;
  background: var(--dark-bg);
}
.header_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}
.logo {
  max-width: 150px;
  max-height: 150px;
}
.header_contacts_item_icon_phone,
.header_contacts_item_icon_gmail {
  max-width: 30px;
  max-height: 30px;
}
.header_contacts_item_text a {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  color: var(--white-text);
}
.header_contacts_item_text a:hover {
  color: var(--red-text);
  transition: color 0.3s;
}
.language_button_container a {
  font-family: "Roboto", sans-serif;
  color: var(--white-text);
}
.header_row {
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}
/* header second row start */
.header_first_row {
  max-height: 105px;
}
.pages_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header_second_row {
  max-height: 85px;
}
.container .pages_list {
  padding-left: 0;
}
.header_second_row .pages_list_item_url {
  background: var(--red-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 175px;
  height: 40px;
  border-radius: 5px;
  transform: skewX(-30deg);
}
.header_second_row .pages_list_item_url span {
  font-family: "Roboto", sans-serif;
  display: block;
  transform: skewX(30deg);
  font-weight: 700;
}
.header_second_row .pages_list_item_url:hover {
  background: var(--dark-bg);
  border: solid 1px var(--red-bg);
}
.header_second_row ul {
  padding: 0;
  list-style: none;
  background: var(--dark-bg);
}
.header_second_row ul li {
  padding: 5px 0 5px 5px;
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
.header_second_row ul li a {
  font-family: "Roboto", sans-serif;
  display: block;
  color: var(--white-text);
  text-decoration: none;
  transition: color 0.3s;
}
.header_second_row ul li a:hover {
  color: var(--red-text);
}
.header_second_row ul li ul.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: solid 1px var(--dark-border);
  border-radius: 5px;
  left: 0;
}
.header_second_row ul li:hover ul.dropdown {
  display: block;
}
.header_second_row ul li ul.dropdown li {
  display: block;
}
/* header end */
/* mobile headder start  */
.mobile_header {
  position: relative;
  display: none;
}
.mobile_header_container {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--dark-bg);
}
.dropdown_button {
  z-index: 6;
}
.dropdown_button img {
  max-height: 35px;
  transform: rotate(90deg);
  z-index: 60;
  cursor: pointer;
}
.rotate-delay {
  transition: all 1.5s;
}
.turn-ower-button {
  transform: rotateX(180deg);
}
.mobile_header_logo img {
  display: flex;
  max-height: 100px;
}
.mobile_header_language_button a {
  font-family: "Roboto", sans-serif;
  color: var(--red-text);
}
/* dropdown mobile button */
.dropdown_button_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 140vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.mobile_links_container {
  position: absolute;
  top: 102px;
  left: 20px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
@media (min-width: 767px) {
  .mobile_links_container {
    left: 70px;
  }
}
@media (min-width: 991px) {
  .mobile_links_container {
    left: 100px;
  }
}
.mobile_links {
  min-width: 230px;
  display: block;
  padding: 0;
  background: rgb(240, 240, 240);
  border-radius: 0 0 5px 5px;
}
.mobile_nav_contacts {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 10px 20px;
  border-top: 2px solid rgb(130, 130, 130);
}
.mobile_nav_phone_nr {
  position: relative;
  right: 33px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5px;
}
.mobile_nav_phone_icon {
  width: 25px;
  height: 25px;
}
.mobile_nav_contacts a {
  width: 100%;
  font-size: 15px;
  color: black;
}
.mobile_nav_contacts a:hover {
  color: var(--red-text);
}
.mobile_links .abonamente_link {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 50px;
  border-top: 2px solid rgb(130, 130, 130);
  border-bottom: 2px solid rgb(130, 130, 130);
}
.mobile_links .abonamente_link a:hover {
  color: var(--red-text);
}
.mobile_links .abonamente_link a {
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  color: black;
  background: rgb(240, 240, 240);
}
.mobile_links ul {
  display: block;
  padding: 0;
}
.mobile_links ul li {
  padding: 10px 0 5px 40px;
  display: block;
  position: relative;
  left: -20px;
  line-height: 21px;
  text-align: left;
}
.mobile_links ul li ul.mobile_dropdown {
  display: none;
  z-index: 10;
  min-width: 100%;
  margin-top: 5px;
  padding: 0px;
}
.mobile_links ul li ul.mobile_dropdown li a:hover {
  color: var(--red-text);
}
.mobile_pages_list_item_adress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}
.mobile_pages_list_item_adress .mobile_red_arrow {
  color: rgb(255, 0, 0);
  font-size: 25px;
}
.mobile_pages_list_item_adress:hover {
  color: var(--red-text);
}
/* MOBILE NAV END */

/* footer secction start  */
.footer_container {
  background: var(--dark-bg);
  padding: 30px 0 15px 0;
}
.footer_left_block {
  position: relative;
}
.footer_logo_img {
  width: 100px;
  height: 100px;
}
.footer_about_us_secction {
  top: 0;
  left: 150px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
}
.footer_about_us_secction a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: var(--white-text);
}
.footer_about_us_secction_contacte {
  margin-bottom: 20px;
}
.footer_about_us_secction a:hover {
  color: var(--red-text);
}
/* footer middle secction start  */
.footer_center_block_top_text,
.footer_center_block_bot_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work_days {
  color: var(--grey-text);
  font-size: 17px;
}
.work_hours {
  color: var(--red-text);
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}
/* footer third secction start */
.footer_right_block_3row_normal_text {
  font-family: "Roboto", sans-serif;
  color: var(--grey-text);
}
.footer_right_block_3row_custom_text {
  font-family: "Pacifico", sans-serif;
  font-size: 30px;
  color: var(--grey-text);
}
/* footer third secction end */
@media (max-width: 842px) {
  .footer_container {
    flex-direction: column;
  }
}
/* responsive start  */
@media (max-width: 1199px) {
  .header {
    display: none;
  }
  .mobile_header {
    display: flex;
  }
}
