/* actual page content start  */
.nav_actual_page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actual_page {
  width: calc(var(--index) * 27);
}

.actual_page {
  display: flex;
  padding: 30px 0 10px 0;
}

.actual_page a {
  font-size: 15px;
  color: var(--grey-text);
}
.actual_page a:hover {
  color: var(--red-text);
}
.actual_page div {
  font-size: 15px;
  color: var(--red-text);
}

.contact_page_head_text {
  display: flex;
  width: calc(var(--index) * 27);
  font-weight: bold;
  font-size: 2rem;
}
/* actual page content end  */
