:root {
  --index: calc(1vw + 1vh);
  --darkgrey: #27272a;
  --darkergrey: #1a1818;
  --mainred: #ed1c24;
  --white: #ffffff;
  --darkwhite: #d5d5d5;
  --grey: #b1b1b1;

  --red-text: var(--mainred);
  --white-text: var(--white);
  --grey-text: var(--grey);
  --dark-text: var(--darkgrey);

  --white-bg: var(--white);
  --dark-bg: var(--darkgrey);
  --red-bg: var(--mainred);
  --darkwhite-bg: var(--grey);

  --dark-border: var(--darkergrey);
  --darkwhite-border: var(--darkwhite);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;

  /* display: grid;
  align-content: space-between; */
}

.wrapper {
  width: 100%;
  min-height: 100%;
}
.content {
  min-height: 100%;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_center_spacea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.font_family_roboto_sans {
  font-family: "Roboto", sans-serif;
}
div.container {
  padding: 0;
}
a,
a:link,
a:visited {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
  list-style: none;
  box-sizing: content-box;
}
ul:after {
  content: "";
  display: block;
  clear: both;
}
/* banner start  */
.banner_container {
  min-width: 100%;
  margin-top: 1px;
  margin-bottom: 30px;
}
.banner_img {
  max-width: 100%;
  min-height: 200px;
  max-height: 900px;
}
@media (min-width: 1919px) {
  .banner_container {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, transparent, black, transparent);
  }
}
/* banner end  */
/* info block start  */
div.container > div.row {
  padding: 0;
  margin: 0;
}
.info_block {
  width: calc(var(--index) * 14.5);
  position: relative;
  margin: 0 auto 30px;
}
.info_block .info_block_img {
  width: 100%;
  height: calc(var(--index) * 10);
  position: relative;
  border: 1px solid var(--darkwhite-border);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 1px 4px rgb(130, 130, 130) inset;
}
.info_block .info_block_img a {
  display: block;
  height: 100%;
}
.info_block .info_block_img a img {
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.info_block:hover .info_block_img {
  box-shadow: 1px 1px 7px black inset;
  transition: 0.35s;
}

@media (min-width: 1500px) {
  .info_block {
    max-width: 350px;
    margin: 0 auto 30px;
  }
  .info_block .info_block_img {
    height: 230px;
  }
}

.info_block_title {
  margin-bottom: 0;
}
.info_block_title a {
  background-color: var(--dark-bg);
  color: var(--white-text);
  font-size: 16px;
  display: flex;
  line-height: 24px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
}
.info_block:hover .info_block_title a {
  background: var(--red-bg);
  color: var(--white-text);
  transition: 0.35s;
}

/* info block end  */
/* subcscribe conent start */
.subscribe_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
  margin-bottom: 35px;
  background: var(--dark-bg);
  flex-direction: row;
}
/* left part of subscribe content start */
.left_part span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: var(--white-text);
  letter-spacing: 0.5px;
}
.left_part_bold_text {
  font-weight: bold;
}
.left_part {
  max-width: 310px;
  width: 100%;
}
/* right part of subscribe content start */
.right_part {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 200px;
}
.right_part .subscribe_email_imput {
  font-family: "Roboto", sans-serif;
  width: 324px;
  height: 36px;
  padding-left: 30px;
  border: 1.5px solid var(--red-bg);
  border-radius: 20px;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
  z-index: 1;
}
/*  subscribe button */
.subscribe_btn {
  font-size: 18px;
  width: 324px;
  height: 36px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  background: var(--red-bg);
  z-index: 1;
}
.subscribe_btn span {
  font-family: "Roboto", sans-serif;
  display: block;
  color: var(--white-text);
}
.subscribe_btn:hover {
  background: var(--dark-bg);
  border: 1.5px solid var(--red-bg);
}
.subscribe_btn:hover span {
  color: var(--red-text);
}
.decormessage {
  position: absolute;
  max-width: 210%;
  top: -12px;
  left: 70px;
  pointer-events: none;
}
@media (max-width: 1199px) {
  .decormessage {
    top: -5px;
    left: -105px;
  }
}
@media (max-width: 842px) {
  .decormessage {
    display: none;
  }
}
.end_part {
  width: 298px;
  height: 58px;
  padding-right: 10px;
}

/* subscribe secction end */
/* gallery section start  */
.content h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: calc(var(--index) * 2);
}
#gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
#slider-container {
  width: 90%;
  max-width: 800px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#slider-container ul.images-container {
  padding: 0;
  margin: 0;
}
#slider-container ul.images-container li {
  float: left;
}
#slider-container ul.images-container li img {
  width: 100%;
  min-height: 100%;
  float: left;
}
#slider-container .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  width: calc(var(--index) * 2.1);
  height: 100%;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}
#slider-container .arrow.a-left {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.1), transparent);
}
#slider-container .arrow.a-left:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}
#slider-container .arrow.a-left img {
  height: calc(var(--index) * 2.1);
  max-height: 50px;
}
#slider-container .arrow.a-right {
  background: linear-gradient(to left, rgba(255, 0, 0, 0.1), transparent);
  right: 0px;
}
#slider-container .arrow.a-right:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent);
}
#slider-container .arrow.a-right img {
  height: calc(var(--index) * 2.1);
  max-height: 50px;
}
#slider-container .bullets-container {
  position: absolute;
  bottom: calc(var(--index) * 0.5);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
#slider-container .bullets-container .bullet {
  width: calc(var(--index) * 0.35);
  height: calc(var(--index) * 0.35);
  min-width: 5px;
  min-height: 5px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--dark-border);
  cursor: pointer;
  margin: 0 calc(var(--index) * 0.4);
}
#slider-container .bullets-container .bullet.active {
  background: var(--red-bg);
}
/* gallery secction end  */
/* responsive start  */
@media (max-width: 1199px) {
  .subscribe_container {
    flex-direction: column;
  }
  .left_part {
    padding-bottom: 20px;
  }
  .right_part {
    padding: 0;
  }
  .end_part {
    display: none;
  }
  .footer_left_block {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .footer_about_us_secction {
    position: initial;
  }
  .footer_left_block .footer_about_us_secction {
    padding: 0;
  }
  .footer_center_block {
    padding-right: 5px;
  }
  .work_hours {
    color: var(--red-text);
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 15px 0;
  }
}
