@import "/CSS/reset.css";

:root {
  --darkgrey: #27272a;
  --darkergrey: #1a1818;
  --mainred: #ed1c24;
  --white: #ffffff;
  --darkwhite: #eee;
  --grey: #b1b1b1;

  --red-text: var(--mainred);
  --white-text: var(--white);
  --grey-text: var(--grey);

  --white-bg: var(--white);
  --dark-bg: var(--darkgrey);
  --red-bg: var(--mainred);

  --dark-border: var(--darkergrey);
  --darkwhite-border: var(--darkwhite);
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_center_spacea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.font_family_roboto_sans {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}

.logo {
  width: 150px;
  height: 150px;
}

.header_contacts_item_icon_phone,
.header_contacts_item_icon_gmail {
  width: 30px;
  height: 30px;
}

.header_contacts_item_text a {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  color: var(--white-text);
}

.header_contacts_item_text a:hover {
  color: var(--red-text);
  transition: 0.3s;
}

.language_button_container a {
  font-family: "Roboto", sans-serif;
  color: var(--white-text);
}

.header_row {
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
  background: var(--dark-bg);
}

/* header second row start */

.header_first_row {
  height: 105px;
}

.pages_list {
  background: var(--dark-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header_second_row {
  height: 85px;
}

.header_second_row .pages_list_item_url {
  background: var(--red-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 40px;
  transform: skewX(-30deg);
}

.header_second_row .pages_list_item_url span {
  font-family: "Roboto", sans-serif;
  display: block;
  transform: skewX(30deg);
  font-weight: 700;
}

.header_second_row .pages_list_item_url:hover {
  background: var(--dark-bg);
  border: solid 1px var(--red-bg);
}

ul {
  padding: 0;
  list-style: none;
  background: var(--dark-bg);
}

ul li {
  padding: 5px 0 5px 5px;
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}

ul li a {
  font-family: "Roboto", sans-serif;
  display: block;
  color: var(--white-text);
  text-decoration: none;
  transition: 0.3s;
}

ul li a:hover {
  color: var(--red-text);
}

ul li ul.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  width: auto;
  min-width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: solid 1px var(--dark-border);
  left: 0;
}
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown li {
  display: block;
}

/* header end */

.banner_container {
  margin-bottom: 30px;
}

.banner_img {
  margin-top: 1px;
  min-width: 100%;
  max-height: 700px;
}

/* banner end  */

/* info block start  */

.info_block {
  margin-bottom: 30px;
}

.info_blocks .info_block_img {
  width: 100%;
  height: 230px;
  position: relative;
  border: solid 1px var(--darkwhite-border);
  border-bottom: none;
}
.info_blocks .info_block_img a img {
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.info_block_title a {
  width: 100%;
  background: var(--dark-bg);
  color: var(--white-text);
  font-size: 16px;
  line-height: 24px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* info block end */

/* subcscribe conent start */

.subscribe_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
  margin-bottom: 30px;
  background: var(--dark-bg);
  flex-direction: row;
}

/* left part of subscribe content start */

.left_part span {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: var(--white-text);
  letter-spacing: 0.5px;
}
.left_part_bold_text {
  font-weight: bold;
}

.left_part {
  max-width: 289px;
  width: 100%;
  padding-left: 20px;
}

/* right part of subscribe content start */

.right_part {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 200px;
}

.right_part .subscribe_email_imput {
  font-family: "Roboto", sans-serif;
  width: 324px;
  height: 36px;
  padding-left: 30px;
  border: 1.5px solid rgba(237, 28, 36, 0.5);
  border-radius: 20px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: var(--white-text);
  margin-bottom: 20px;
  z-index: 1;
}

.subscribe_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  width: 324px;
  height: 36px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  background: var(--red-bg);
  z-index: 1;
}

.subscribe_btn:hover {
  color: var(--white-text);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

.decormessage {
  position: absolute;
  max-width: 210%;
  top: -12px;
  left: 70px;
}

/* right part of subscribe content end */

.end_part {
  width: 298px;
  height: 58px;
  padding-right: 10px;
}

/* subscribe secction end */

/* gallery section start  */
.gallery_header {
  width: 100%;
  height: 80px;
  background: var(--grey-text);
}
.gallery_body {
  width: 100%;
  height: 700px;
  background: var(--darkgrey);
  margin-bottom: 30px;
}
/* gallery secction end  */

/* footer secction start  */

.footer_container {
  background: var(--dark-bg);
  padding: 30px 0 15px 0;
}

.footer_about_us_secction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
}

.footer_about_us_secction a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: var(--white-text);
}

.footer_about_us_secction_contacte {
  margin-bottom: 20px;
}

.footer_about_us_secction a:hover {
  color: var(--red-text);
}

/* footer middle secction start  */

.footer_center_block_top_text,
.footer_center_block_bot_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_days {
  color: var(--grey-text);
  font-size: 17px;
}

.work_hours {
  color: var(--red-text);
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}

/* footer third secction start */

.footer_right_block_3row_normal_text {
  font-family: "Roboto", sans-serif;
  color: var(--grey-text);
}

.footer_right_block_3row_custom_text {
  font-family: "Righteous", sans-serif;
  font-size: 30px;
  color: var(--grey-text);
}
